.links-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  @media (max-width: 1199px) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  @media (max-width: 991px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (max-width: 575px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}