.link-card {
  border: 1px solid #888686;
  border-radius: 4px;
  padding: 10px;
  background-color: #888686;
  max-width: 200px;
  max-height: 320px;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }

    .link-card-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
    }
  
    .update-button,
    .delete-button {
      padding: 5px 10px;
      background-color: #007bff;
      border: none;
      cursor: pointer;
    }
}

.link-card-header {
  margin-bottom: 10px;
}

.link-title {
  font-size: 18px;
  font-weight: bold;
}

.link-card-body {
  display: flex;
  flex-direction: column;
}

.link-image {
  height: 75px;
  width: auto;
  margin-bottom: 10px;
}

.link-image img {
  width: 50%;
  height: auto;
}

.link-url {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
  text-size-adjust: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-description {
  font-size: 12px;
  margin-bottom: 10px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.link-keywords {
  display: flex;
  flex-wrap: wrap;
}

.link-keyword {
  font-size: 12px;
  background-color: #d1c8c8;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}
