.footer-container {
  justify-content: center;
  align-items: center;
      margin-top: 50%;

  .footer-text {
    font-size: smaller;
    font-weight: 500;
    color: #000;
    text-align: center;
  }
}